/* Coolors Exported Palette - coolors.co/fb4f14-545f66-00aaee-fffffc-beb7a4 */

/* HSL */
$color1: hsla(15%, 97%, 53%, 1);
$color2: hsla(203%, 10%, 36%, 1);
$color3: hsla(197%, 100%, 47%, 1);
$color4: hsla(60%, 100%, 99%, 1);
$color5: hsla(44%, 17%, 69%, 1);

/* RGB */
$color-orange: rgba(251, 79, 20, 1);
$color-grey-dark: #545f66;
$color-blue-light: rgba(0, 170, 238, 1);
$color-white: rgba(255, 255, 252, 1);
$color-grey-light: rgba(190, 183, 164, 1);
$color-grey-light-2: #c6ccd0;