/* Coolors Exported Palette - coolors.co/0081af-00abe7-2dc7ff-ead2ac-eaba6b */

/* HSL */
$color1: hsla(196%, 100%, 34%, 1);
$color2: hsla(196%, 100%, 45%, 1);
$color3: hsla(196%, 100%, 59%, 1);
$color4: hsla(37%, 60%, 80%, 1);
$color5: hsla(37%, 75%, 67%, 1);

/* RGB */
$color1: rgba(0, 129, 175, 1);
$color2: rgba(0, 171, 231, 1);
$color3: rgba(45, 199, 255, 1);
$color4: rgba(234, 210, 172, 1);
$color5: rgba(234, 186, 107, 1);